# Escludi il dataset
processed_data/
data/dataset
data/Train/*
data/Test-Dev/*
data/Val/*
data/Test-Challenge/*
venv/*
openforensics_env/
openforensics_env/
__pycache__/
*.pyc
*.pyo
openforensics_env/
__pycache__/
.DS_Store
*.pyc
openforensics_env/
__pycache__/
.DS_Store
*.pyc
models/custom_deepfake.pth
