filelock==3.13.1
opencv-python==4.8.0.76
fsspec==2024.6.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
pillow==11.0.0
sympy==1.13.1
torch==2.6.0
torchaudio==2.2.2
torchvision==0.17.2
typing_extensions==4.12.2

# Download dataset
requests==2.31.0
tqdm==4.66.1

# Machine Learning Metrics
scikit-learn==1.3.0

# PyTorch Image Models (for Xception and other architectures)
timm==0.9.10

# Data Analysis and Visualization
pandas==2.1.4
seaborn==0.13.0
matplotlib==3.8.2

# Grad-CAM
grad-cam